<ion-modal-view>
    <ion-header-bar class="theme-bg light" align-title="center">
        <a class="button button-clear icon ion-chevron-left" ng-click="closeRecord()"></a>
        <h1 class="title">记录血压</h1>
    </ion-header-bar>
    <ion-content>
        <form name="recordform" ng-submit="doRecord()">
            <div class="list">
                <label class="item item-input" >
                    <span class="input-label">昵称</span>
                    <select style="width:50%; margin: 0 25%; background: #fff; border: none; padding: 5px 10px; font-size: 16px; border-radius: 5px; "  ng-options="family.id as family.name for family in familys" ng-model="recordData.familyid" ng-change="loadReport()"></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">日期</span>
                    <ionic-datepicker input-obj="datepickerObject">
                        <input type="text"  placeholder="请选择日期" ng-model="recordData.birthday"style="text-align: right; margin-right: 65px;" >
                    </ionic-datepicker>
                   <!-- <i class="icon ion-ios-calendar" style="font-size: 3rem;position: absolute;top:10px; right: 15px; text-align: right;" ></i>-->

                </label>
                <label class="item item-input">
                    <span class="input-label">高压</span>
                    <input type="number" placeholder="请输入高压" style="text-align: right; margin-right: 65px;" ng-model="recordData.sBP">
                    <span class="input-label" style="position: absolute; right: 5px; text-align: right;">mmHg</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">低压</span>
                    <input type="number" placeholder="请输入低压" style="text-align: right; margin-right: 65px;"  ng-model="recordData.dBP">
                    <span class="input-label" style="position: absolute; right: 5px; text-align: right;">mmHg</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">心率</span>
                    <input type="number" placeholder="请输入心率" style="text-align: right; margin-right: 65px;"  ng-model="recordData.pulse">
                    <span class="input-label" style="position: absolute; right: 5px; text-align: right;">bpm</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">备注</span>
                    <input type="text" placeholder="请输入您要备注的内容" style="text-align: right; margin-right: 65px;" ng-model="recordData.remark">
                </label>
            </div>
            <div class="ff-ann">
                <button class="button light" type="submit">提   交</button>
            </div>

            </div>
        </form>
    </ion-content>
</ion-modal-view>