<ion-header-bar class="theme-bg light" align-title="center">
    <a class="button button-clear icon ion-chevron-left" ng-click="backGo()"></a>
    <h1 class="title">测量提醒</h1>
</ion-header-bar>
<ion-content class="con-padding50">
        <ul class="list">
            <li class="item item-toggle celinag">
                <h2>09:00</h2>
                <span>未开启</span>
                <label class="toggle toggle-calm" style="margin-top: 10px;">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle celinag">
                <h2>14:00</h2>
                <span>法定节假日</span><br/>
                <span>未开启</span>
                <label class="toggle toggle-calm" style="margin-top: 10px;">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle celinag">
                <h2>14:00</h2>
                <span>法定节假日</span><br/>
                <span>1天12小时29分种后开启</span>
                <label class="toggle toggle-calm" style="margin-top: 10px;">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
        <div class="bar bar-subfooter text-center add-remind">
            <a href="remind-add.html"><i class="icon ion-ios-plus"></i><br/>添加提醒</a>
        </div>
</ion-content>