<ion-modal-view>
    <ion-header-bar class="theme-bg light" align-title="center">
        <a class="button button-clear icon ion-chevron-left" ng-click="closeAbout()"></a>
        <h1 class="title">关于我们</h1>
    </ion-header-bar>
    <ion-content>
        <div class="banner"><img src="img/user/ban-about.jpg" class="img-responsive center-block"/></div>
        <div class="container jianjie">
            <p>血压管家是济南创源动力信息技术有限公司开发运营的一款面向济宁地区广大移动集团客户推出的专属信息化服务产品。本产品将高血压的发现、监测、防治、保健服务等信息与手机终端结合起来，给用户提供与高血压有关的健康监测与指导，能及时有效地对用户的血压情况进行数据记录、分析，量身打造用户专属的血压信息系统和健康指导服务，具有使用便捷、数据准确、监控及时、信息全面等优势，是您口袋里的血压医生。</p>
        </div>
    </ion-content>
</ion-modal-view>
