<ion-modal-view>
    <ion-header-bar class="theme-bg light" align-title="center">
        <a class="button button-clear icon ion-chevron-left" ng-click="closeXieYi()"></a>
        <h1 class="title">协议</h1>
    </ion-header-bar>
    <ion-content>
        <div class="container jianjie">
            <p>进入健康管家则意味着同意遵守以下规则，并完全服从于健康管家的统一管理。</p>

            <p>   总则：</p>
            <p>    　　第1条：健康管家是济南创源动力信息技术有限公司开发运营的一款面向济宁地区广大移动集团客户推出的专属信息化服务产品</p>
            <p>    　　第2条：本协议最终解释权归属济南创源动力信息技术有限公司所有，以下称【济南创源】。</p>

             <p>   健康管家用户：</p>
            <p>   　　第3条：凡是注册用户和浏览用户均为健康管家用户，以下统称【用户】</p>
            <p>   　　第4条：用户的个人信息受到保护，不接受任何个人或单位的查询。司法、检察机关因法律需要除外，用户的个人设置公开除外。</p>
            <p>    　　第5条：用户具有言论自由的权利。</p>
            <p>    　　第6条：用户的言行不得违反《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》等相关法律规定。</p>
            <p>    　　另外注意：</p>
            <p>    不得在本讨论组发布、传播或以其它方式传送含有下列内容之一的信息:</p>
            <p>    ①反对宪法所确定的基本原则的。</p>
            <p>    ②危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的。</p>
            <p>    ③损害国家荣誉和利益的。</p>
            <p>    ④煽动民族仇恨、民族歧视、破坏民族团结的。</p>
            <p>    ⑤破坏国家宗教政策，宣扬邪教和封建迷信的。</p>
            <p>    ⑥散布谣言，扰乱社会秩序，破坏社会稳定的。</p>
            <p>    ⑦散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的。</p>
            <p>    ⑧侮辱或者诽谤他人，侵害他人合法权利的。</p>
            <p>    ⑨煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的。</p>
            <p>    ⑩以非法民间组织名义活动的。</p>
            <p>    ⑾含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容。</p>
            <p>    ⑿含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的。</p>
            <p>    　　第7条：用户在相关讨论组发表文章时，除遵守本协议外，还需遵守管理员对讨论组的相关规定。</p>
            <p>    　　第8条：不允许在本应用内发布任何形式的广告，包括但不限于：</p>
            <p>    1.发布带有任何有联系方式的网络创业、网络兼职、刷Q币以及非真实性中奖信息；</p>
            <p>    2.内容包含带有任何联系方式的学历职称代办，专业代做试题，作业，论文等题目以及售卖考试答案等信息；</p>
            <p>    3.发布任何带有联系方式的银行卡代办、买卖发票、非法彩票等信息；</p>
            <p>    4.含有联系方式的黑客、收费删帖、办证刻章等违法信息；</p>
            <p>    5.非官方认证的发布任何带有联系方式的医院、美容、药品、祛斑、医生专家和整容等信息。</p>
            <p>    　　第9条：用户应承担一切因其个人的行为而直接或间接导致的民事或刑事法律责任，因用户行为给广州知语造成损失的，用户应负责赔偿。</p>
            <p>    　　第10条：本应用拥有对违反本讨论组规则的用户进行处理的权力，直至禁止其在本讨论组内发布信息。</p>
            <p>    　　第11条： 为了能够给广大用户提供一个优质的交流平台，同时使讨论组能够良性、健康的发展，将对涉及反动、色情的头像、签名档和发布不良内容的用户，进行严厉处理。一经发现此类行为，将给予永久封禁ID并清空所有发言的处罚。</p>

            <p>    权利声明：</p>
            <p>    　　第12条：讨论组由用户创建，是用户对该组名称所指事物、现象介绍、评论的平台。讨论组文章仅代表作者观点，与广州知语无关。对于用户言论的真实性引发的全部责任，由用户自行承担，广州知语不承担任何责任。</p>
            <p>    　　第13条：用户之间因使用健康管家而产生或可能产生的任何纠纷和/或损失，由用户自行解决并承担相应的责任，与广州知语无关。</p>

            <p>    处罚规则：</p>
            <p>    　　第14条：广州知语郑重提醒用户，若出现下列情况任意一种或几种，将承担包括被关闭全部或者部分权限、被暂停或被删除其帐号的后果，情节严重的，还将承担相应的法律责任。</p>
            <p>    1.使用不雅或不恰当ID和昵称；</p>
            <p>    2.发表含有猥亵、色情、人身攻击和反政府言论等非法或侵权言论的；</p>
            <p>    3.从事非法商业活动；</p>
            <p>    4.模仿讨论组管理人员ID或者他人ID，用以假冒管理人员或破坏管理人员形象；</p>
            <p>    5.使用发贴机等非法软件进行爆吧、违规发贴的行为。</p>
            <p>    6.其他广州知语公司认为不恰当的情况。</p>
            <p>    　　第15条：凡文章出现以下情况之一，健康管家讨论组管理人员有权不提前通知作者直接删除，并依照有关规定作相应处罚。情节严重者，健康管家讨论组管理人员有权对其做出关闭部分权限、暂停直至删除其帐号。</p>
            <p>    1.发表含有本协议第6条禁止发布、传播内容的文章；</p>
            <p>    2.发表不符合版面主题，或者无内容的灌水文章；</p>
            <p>    3.同一文章多次出现的；</p>
            <p>    4.违反本协议第8条的规定，发布广告的；</p>
            <p>    5.文章内容或个人签名会包含有严重影响用户浏览的内容或格式的；</p>
            <p>    6.其他广州知语认为不恰当的情况。</p>

            <p>    附则：</p>
            <p>    　　第16条：关于打击网络谣言的司法解释：《最高人民法院、最高人民检察院关于办理利用信息网络实施诽谤等刑事案件适用法律若干问题的解释》已于2013年9月5日由最高人民法院审判委员会第1589次会议、2013年9月2日由最高人民检察院第十二届检察委员会第9次会议通过，现予公布，自2013年9月10日起施行。</p>
            <p>    　　第17条：所有用户发表的文章而引起的法律纠纷，与广州知语无关。</p>
            <p>    　　第18条：健康管家如因系统维护或升级等而需暂停服务时，将事先公告。若因硬件故障或其它不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，本应用不负任何责任。 由于健康管家的调整导致信息丢失和/或其他结果的，广州知语不承担任何责任。</p>
            <p>    　　第19条：本协议未涉及的问题参见国家有关法律法规，当本协议与国家法律法规冲突时，以国家法律法规为准。</p>
        </div>
    </ion-content>
</ion-modal-view>
