<ion-modal-view>
    <ion-header-bar class="theme-bg light" align-title="center">
        <a class="button button-clear icon ion-chevron-left" ng-click="closeDateHealth()"></a>
        <h1 class="title">健康数据</h1>
    </ion-header-bar>
    <ion-content>
        <div>
            <label class="item item-input" style="border: none; background: #ffc6bc;">
                <select style="width:50%; margin: 0 25%; background: #fff; border: none; padding: 5px 10px; font-size: 16px; border-radius: 5px; " ng-change="selectFamily()" ng-options="family.id as family.name for family in familys" ng-model="dateHealthData.familyid"></select>
            </label>
        </div>
        <!--曲线图 开始-->
        <canvas id="xylog"  style="background:#fff; height:200px;"></canvas>
        <!--曲线图 结束-->
        <div class=" margin20">
            <div  class="col-xs-2 table_fenxi">
                <div class="yuan_20151">
                    <div class="yuan_2015">{{dateHealthData.nowyear}}</div>
                    <div class="yuan_20152 margin20">{{dateHealthData.nowmonth}}</div>
                </div>
            </div>
            <div  class="col-xs-10 table_fenxi">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="fenxitit white" >
                        <td>高压</td>
                        <td>低压</td>
                        <td>心率</td>
                        <td>评估</td>
                        <td>日期</td>
                    </tr>
                    <tr ng-repeat="blood in dateHealthData.listblood">
                        <td>{{blood.sBP}}</td>
                        <td>{{blood.dBP}}</td>
                        <td>{{blood.pulse}}</td>
                        <td>正常</td>
                        <td>{{blood.addtime.date}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
