@charset "utf-8";
/* CSS Document */
html{ font-size:62.5%;}/**使10px=1rem**/
{ margin:0; padding:0; border:none; list-style:none; text-decoration:none;}
body{width:100%; height:100%; background:#fff;font-size:14px;font-size:1.4rem }
a{ text-decoration: none;color: #394142;display: block; cursor: pointer;}

.theme-bg {
    background-color: #e36853;
}
.theme-bg .title {
    color: #fff; }
.topbox{width:100%; height:55%;background:#e36853; overflow: hidden;}
.topbox img{vertical-align:middle;}

.navbox{ height:45%;padding-bottom:55px;}
.navbox .top{ height:55%;}
.navbox .top .col{border-radius:5px;color:#fff;}
.navbox .top .col a{color: #fff;}
.navbox .top .col i{font-size:60px;font-size:6rem;}
.navbox .bottom{ height:44%; margin-top:1%;}
.navbox .bottom .col{background:#91c6f8;border-radius:5px; color:#394142;}
.navbox .bottom .col i{font-size:50px; font-size:5rem;}
.navbox .bottom .col a{ color: #394142;}

.footer-con{ width:100%; height:49px; background:#394142;}
.footer-con .tabs{background:#394142;}
.footer-con .tabs a{ color:#fff;opacity:1;}
.footer-con .tabs a.active{ color:#fe5454;}


/**记录血压**/
.bar .button{ color: #fff;}
.con-padding50{padding-bottom: 50px; overflow: auto;}
.record-con{ background:#efefef;}
.ff-ann .button{width:90%;margin-left: 5%; margin-bottom: 20%; background: #e36853;border-radius:5px; border: none;}
.block80{ height: 80px;}

/**测评结果**/
.pg-time{ margin-top: 15px; font-size: 1.6rem;}
.numcon{ margin-bottom: 20px;}
.numcon .title{ height: 12%; max-height: 60px; line-height: 50px;font-size: 1.4rem;}
.numcon .title img{ float: left;width: 12%;max-width: 55px; margin-right: 10px;}
.numcon .neir {background: #ececec;border-radius:5px; color: #394142; text-indent:28px; text-indent: 2.8rem;padding: 10px;text-align:Justify; text-justify:inter-ideograph;}
.annbox{ padding-bottom: 50px;}
.annbox .button{ background: #91c6f8;width:48%;margin-left: 1%; margin-right: 1%; float: right; color: #394142;font-size:18px;font-size:1.8rem;}
.annbox .button span{ margin-left: 5px;}

/*健康数据*/
.yuan_2015 { width:40px; height:40px; line-height:40px; color:#fff; background-color:#e36853; text-align:center; webkit-border-radius:20px;
    moz-border-radius:20px;
    border-radius:20px; font-size:10px;  }
.yuan_20151 { width:40px;  background:url(../img/home/bg_lan.png) repeat-y center top;  }
.yuan_20152 { width:20px; margin:0 auto; height:20px; line-height:20px;  text-align:center;webkit-border-radius:10px;
    moz-border-radius:10px;margin-top:50px;
    border-radius:10px; color:#fff; background:#e36853; font-size:8px;  }
.yuan_20153 { width:20px; margin:0 auto; height:20px; line-height:20px;  text-align:center;webkit-border-radius:10px;
    moz-border-radius:10px;
    border-radius:10px; color:#fff; background:#ffae01; font-size:8px; margin-top:50px; }
.table_fenxi { margin:0;  padding:0; padding-left:3px; padding-right:3px;  color:#747474;  }
.table_fenxi table tr td { border-bottom:1px solid #dbe7e9; padding:8px 3px 8px 3px; text-align:center; }
.fenxitit { padding:8px 3px 8px 3px; background:#e36853; text-align:center; color:#fff; }





/**降压方案**/
.numbox{}
.numbox .con-n{width:49%; background: #b8e8ff; padding: 10px;}
.mubiao{ margin-right: 2%;}
.numbox .con-n h3.mb{ color: #e36853;}
.numbox .con-n h3.dq{ color: #027fc0;}
.numbox .con-n p{color: #394142;}

.planbox{ margin: 10px;}
.planbox h3{color: #19a5e7;}
.plan-table tr{border-radius:0px 5px 5px 0; background: #ffedea; border-bottom: 5px solid #fff;}
.plan-table td{ padding: 10px;vertical-align:middle;text-align:Justify;text-justify:inter-ideograph;}
.plan-table .tit{ background: #e36853;color: #fff;}
.plan-table .neir{text-indent: 20px; text-indent: 2rem;color: #5b5b5b;}


/*就诊挂号*/
h3.shaixuan{font-size:14px; font-size: 1.4rem; margin: 10px 0 0 10px;}
.item-select-shaixuan {
    position: relative; }
.item-select-shaixuan select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding:5px 10px;
    margin-right:1%;
    max-width:25%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: 0.01px;

    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
    border: 1px solid #efefef;
    border-radius:5px;}
.item-select-shaixuan .input-label{width:auto;font-size:14px;font-size: 1.4rem; padding: 5px;}
.item-select-shaixuan input{ border: 1px solid #efefef; padding-left: 10px;max-width:40%; margin-right:1%;border-radius:5px; padding-left:8px; padding-right: 8px;}
.item-select-shaixuan .button{min-height: 30px; line-height:30px;border: none;}
.sousuo{max-width:23%; margin-right: 2%; height: 32px; border: none; padding: 5px 10px;border-radius:5px;color: #fff;font-size: 1.4rem;}
.sousuo i{font-size:16px;font-size: 1.6rem; margin-right: 5px;}

.box1{  margin-bottom: 15px;}
.box1 h3.address{ color: #e36853;font-size:20px;font-size: 2rem;}


/*测量提醒*/
.celinag h2{font-size: 20px; font-size: 2rem;}
.celinag span{font-size:12px;font-size: 1.2rem; color: #7c7c7c;}
.add-remind{ margin-bottom: 35px; background: none;border: none;bottom:inherit}
.add-remind a{ color: #7c7c7c;}
.add-remind a i{ font-size:4rem; color: #fe5454;}
/*添加提醒*/
.finish-btn{ position: absolute;right:5px; }
.set-con{border-radius:5px;}

/*资讯*/

.info-list li h2{color: #fe5454;}
.info-list li p{ margin-top: 10px;}
.info-list li span a{ font-size:12px;font-size: 1.2rem; position: absolute;right:10px;bottom:10px;color: #8a1d1d;}
.bar-theme .title{ color: #fff;}
/*资讯详情*/
.acticle_con{ background-color: #fff3e5;padding: 15px; margin-top: 15px;border-radius:5px; border: 1px solid #439b98; margin-bottom: 15px;
    box-shadow: 3px 2px 1px #ccc;
    -webkit-box-shadow: 3px 2px 1px #ccc;
    -moz-box-shadow: 3px 2px 1x #ccc}
.acticle_con .title{ position: absolute; top:8px;width:80%; margin-left: 2%;}
.acticle_con p{text-indent:24px;  text-indent: 2.4rem; margin-top: 20px;}

/*社区*/
.fatie{position: absolute;right: 10px;}
.shequ .button{ position: absolute;right: 15px;}
.shequcon{background: #fedebe;}
.shequcon .top{ margin: 10px 0 0;}
.shequcon .top .item{ padding-top: 8px;padding-bottom:8px;}
.shequcon .top .list li span{ float: left; background: #86dcf8;border-radius:5px; padding:5px 10px;color: #fff; margin-right: 5px;}
.shequcon .top .list li p{ line-height: 30px;}
.shequcon .note .item{border: none;border-radius: 10px;margin-bottom: 10px; margin-top: 10px;}
.shequcon .note .item1{ padding-bottom: 0px;}
.note .item .note-box1{ min-height: 80px;}
.note .item .note-box1 img{border-radius: 50px;}
.note .item .item-thumbnail-left{ padding-left: 90px;}
.note .item .note-box1 .name{color: #686767;}
.note .item .note-box1 .time{color: #9b9999;font-size: 14px; font-size: 1.4rem; margin-top: 10px;}
.note .item p{white-space:normal;text-align:Justify;text-justify:inter-ideograph;text-indent:28px; text-indent: 2.8rem;}
.note-box2 .button{border: none; background: none;font-size: 16px;font-size: 1.6rem; padding: 0;min-height: 25px;}
.note-box2 .sc{ float: left;}
.note-box2 .sc i{color: #fe5454;}
.note-box2 .pl{float: right;}
.note-box2 .pl i{color: #86dcf8; margin-right: 5px; text-align: center;}
/*社区详情*/
.pinglun{ background: #fff;border-radius: 10px;margin-left:15px; margin-right: 15px; margin-top: -20px; border-top: 2px solid #86dcf8; overflow:hidden;}
.pinglun .title{width:170px; background: #86dcf8; margin:-1px 0 0; border-radius:5px; padding: 3px;color: #fff;}
.pinglun .item{ margin-bottom: 1px; border: none;border-bottom: 1px solid #ddd;}
.block30{ height: 30px;}

.fabiao-con input{width:100%;height:34px;border-bottom: 1px solid #ddd; padding: 10px 15px;}
.fabiao-con textarea{width:100%; padding: 10px 15px;}
/**个人中心**/
.personal{max-height: 180px; background: #eaeaea; margin-bottom: 20px;}
.personal .box{ background: #fff; border: none; border-bottom: 5px solid #eaeaea;}

.personal-list .item{ background: #fff;border: none; border-bottom: 3px solid #eaeaea;font-size: 20px;font-size: 2rem;color: #394142; line-height: 20px;}
.personal-list .item i{margin-right: 10px;font-size: 26px;font-size: 2.6rem;}
.personal-list .tuid{min-height:30px; padding: 5px 7px; margin: 0;}
.personal-list .tuid .button{color: #394142;font-size:20px;font-size:2rem;}


    /*签到*/
.singer_r_img{display:block;width:114px;height:52px;background:url(../img/user/sing_week.gif) right 2px no-repeat;vertical-align:middle; position:absolute; left:110px;}
.singer_r_img:hover{background-position:right -53px;text-decoration:none;}
.singer_r_img span{position:absolute; left:14px;top:13px;font-size:16px;font-family:'Hiragino Sans GB','Microsoft YaHei',sans-serif !important;font-weight:700;color:#165379;}
.singer_r_img.current{background:url(../img/user/sing_sing.gif) no-repeat 0 2px;}

/*修改资料*/
.ziliao .input-label{text-align: right;}
.ziliao .input{text-align: left;}
.ziliao .item{border: none;}


/*我的积分*/
.jifen .top-box .item{ border: none;background: #ffedea;}
.jifen-con{margin-top: 15px;}
.jifen-con .title{ padding-bottom: 3px; border-bottom: 1px solid #fe5454;}
.jifen-con .title span{width:auto; border-radius: 5px 5px 0 0; background: #fe5454;color: #fff; padding: 5px 8px;}
.jifen-con .list .item{border: none;border-top: none;}
.jifen-con .list .item p{white-space: normal;}
.jifen-con .list .item .ann{ background: #fe5454;color: #fff;border-radius: 50px; padding:3px 8px;margin-top:5px;font-size: 14px;font-size: 1.4rem; float: right;}

/*我的家人*/
.jiaren{ margin:10px 15px; padding: 10px; background: #efefef; border-radius: 10px;border: none;}
.jiaren p{color: #394142; }
.jiaren .row .col{ padding: 0;}
.jiaren .row .col a{color: #e36853;}
.record-con .item .input-label em{ color: #fe5454;}

/*我的关注*/
.guanzhu .list .item .gz-btn{min-width: 35px;min-height: 35px;padding:3px 8px; background: #fff; position: absolute;right:15px;top: 20px; }
.guanzhu .list .item .gz-btn img{max-width: 35px;}

/*我的收藏*/
.shoucang{ background: #ebebeb; border-radius: 10px; padding: 10px; margin: 10px 0;}
.shoucang h3{font-size:1.6rem;color: #fe5454;}
.shoucang .nicheng{width:50%;color: #707070;}
.shoucang .xx{width: 50%;text-align: right;font-size: 1.6rem;color: #707070;}
.shoucang .xx i{color: #3d9fea;font-size: 2rem; margin-right: 5px;}

/*我的话题*/
.shoucang span{color: #fe5454;}
.talk-con h3{ margin-bottom: 2px;}
.talk-con .jianj{text-indent:24px;text-indent: 2.4rem; margin-top: 5px;}
.talk-con .t-xx{width: 100%;text-align: right;padding-right:10px;font-size: 1.6rem;color: #707070;}
.talk-con .t-xx i{color: #3d9fea;font-size: 2rem; margin-right: 5px;}

/*设置*/
.set-list .item i{font-size:24px;font-size:2.4rem;color: #394142;}
.set-list .item i span{font-size: 20px; font-size: 2rem; margin-left: 10px;color: #394142;}
.set-list .item .ion-ios-arrow-forward{font-size:24px;font-size:3rem; position: absolute;right: 10px;top:20px;}
/*设置-检查更新*/
.celinag .ion-ios-arrow-forward{font-size:24px;font-size:3rem; position: absolute;right: 10px;top:20px;}
    /*更新内容*/
.up-neir{ padding-top: 10px;}
.upann .button{ background: #dedede;width:48%;height:40px;line-height:40px;margin-left: 1%; margin-right: 1%; float: right; color: #394142;font-size:18px;font-size:1.8rem;}
.upann .button span{ margin-left: 5px;}
    /*意见反馈*/
.jianyi{ margin-top: 15px;}
.jianyi textarea{width:100%; border: 1px solid #e7e7e7; padding: 10px;}
.jianyi .button{width:80%; margin-left: 10%; margin-top: 20px; background: #e7e7e7; border-radius: 10px;letter-spacing:10px; color: #394142;}
    /*关于我们*/
.banner{ width: 100%;max-height:360px; background: #92c6f8;}
.jianjie{ margin-top: 15px;}
.jianjie p{font-size: 1.4rem; text-indent: 2.8rem;text-align:Justify; text-justify:inter-ideograph;}

.action-sheet-title{font-size: 20px; color: #707070;}






/*登录&注册*/
.logo{ margin-top:50px; margin-bottom: 30px;}
.logo img{width: 30%;max-width: 225px;}
.login-con .item-input{width: auto;}
.login-con  .m {width:auto;color: #e36853;}
.login-con input{ border: 1px solid #e36853; border-radius: 5px; color: #e36853; padding: 5px; margin-right: 15px;}
.login-con .wjmm{float: right; font-size: 14px;font-size: 1.4rem; margin-right: 15px;}
.login-con .wjmm a{color: #e36853;}
.login-con .button{width:70%; margin:5px 15%;border-radius:5px;border: none;color: #fff; background: #e36853;}


.reg-con .item-input{width: auto;}
.reg-con  .demo{ padding: 5px; color: #707070;}
.reg-con  .demo select{border-radius: 5px; border: 1px solid #e36853; margin-right: 3px; color: #707070;}
.reg-con li{ float: left; height: 30px; background:none;}
.sex-xz  .item{float: left; margin-right: 5px;border-radius: 5px; border: 1px solid #e36853; }
.sex-xz  .item .item-content{padding: 0 50px 0px 5px; color: #707070;}
.sex-xz  .item i{ font-size: 14px; position: absolute;top: -10px; right: 0; color: #3d9fea;}
.gaimi-con .item-input{width: auto;}
.gaimi-con input{ border: 1px solid #e36853; border-radius: 5px; color: #e36853; padding: 5px; margin-right: 15px;}
.gaimi-con .m {width:auto;color: #e36853;}
.gaimi-con .button{width:70%; margin:5px 15%;border-radius:5px;border: none;color: #fff; background: #e36853;}
.gaimi-con .wjmm{float: right; font-size: 14px;font-size: 1.4rem; margin-right: 15px;}
.gaimi-con .wjmm a{color: #e36853;}
