    <ion-content scroll="true">
        <div class="row text-center"  style="background:#e36853; margin-right:1%;">
            <div class="col col-center">
                <a><img src="img/jilu.gif" class="img-responsive center-block" ng-click="record()"/></a>
            </div>
        </div>
        <div class="navbox">
            <div class="row text-center top">
                <div class="col" style="background:#ffae45; margin-right:1%;"><a ng-click="report()"> <i class="icon ion-ios-speedometer-outline" style="font-size:4.6rem;" ><br /><span style="font-size: 2.2rem;">血压评估</span></i></a></div>
                <div class="col" style="background:#ec78b1;margin-left:1%;"><a ng-click="health()"><i class="icon ion-ios-paper-outline" style="font-size:4.6rem;" ><br /><span style="font-size: 2.2rem;">健康数据</span></i></a></div>
            </div>
            <div class="row text-center bottom">
                <div class="col" style="background:#56b1e6;margin-right:1%; "><a ng-click="plan()" style="color:#fff;"><i class="icon ion-clipboard" style="font-size:4.6rem;" ><br /><span style="font-size: 2.2rem;">降压方案</span></i></a></div>
                <div class="col" style="background:#34cdd7; margin-left:1%;"><a ng-click="registration()"  style="color:#fff;"><i class="icon ion-ios-medkit"  style="font-size:4.6rem;" ><br /><span style="font-size: 2.2rem;">就诊挂号</span></i></a></div>
            </div>
        </div>
    </ion-content>
