<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
    <title>修改资料</title>
    <link rel="stylesheet" type="text/css" href="../../lib/ionic/css/ionic.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>

<body>
<div class="bar bar-header theme-bg light">
    <a href="tab-homepage.html"><div class="button button-clear button-fff icon ion-chevron-left"></div></a>
    <i class="title">修改资料</i>
</div>

<div class="content scroll-content has-header con-padding50">
    <div class="list ziliao">
        <label class="item item-input">
            <span class="input-label">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</span>
            <i>15165215298</i>
        </label>
        <label class="item item-input">
            <span class="input-label">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</span>
            <input type="text" placeholder="" style=" margin-right:20%;width:50%;max-width: 500px;overflow:hidden;border:1px solid #ddd;border-radius: 5px;">
        </label>
        <label class="item item-input">
            <span class="input-label">个人简介：</span>
            <textarea rows="3" style="width:50%;max-width: 500px;border: 1px solid #ddd;border-radius: 5px;"></textarea>
        </label>
    </div>
    <div class="ff-ann">
        <i class="button light" style="background: #e7e7e7;color: #394142;">提   交</i>
    </div>
</div>


<div class="bar bar-footer footer-con">
    <div class="tabs tabs-stable tabs-icon-top">
        <a class="tab-item active" style=" color:#fff;opacity:1;" href="../index.html">
            <i class="icon ion-heart"></i>血压
        </a>
        <a class="tab-item m" style=" color:#fff;opacity:1;" href="../information/tab-health-yinshi.html">
            <i class="icon ion-ios-paper-outline"></i>资讯
        </a>
        <a class="tab-item m" style=" color:#fff;opacity:1;" href="../zone/tab-zone-index.html">
            <i class="icon ion-ios-world-outline"></i>社区
        </a>
        <a class="tab-item m" style=" color:#fe5454;opacity:1;" href="tab-homepage.html">
            <i class="icon ion-android-contact"></i>我的
        </a>
    </div>
</div>




</body>
</html>
